.ajax-text-and-image {
	max-width: 800px;
	margin: 20px auto;
	background: #FFF;
	padding: 0;
	line-height: 0;
}

.ajcol {
	width: 50%;
	float: left;
}

.ajcol img {
	width: 100%;
	height: auto;
}

@media all and (max-width:30em) {
	.ajcol {
		width: 100%;
		float: none;
	}
}